@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("/assets/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/assets/JetBrainsMono-Regular.woff2") format("woff2");
}

body {
  background-color: black;
  font-family: "JetBrainsMono-Bold";
}

/* animation marquee */

.fanzine {
  -moz-animation: marquee 7s linear infinite;
  -webkit-animation: marquee 7s linear infinite;
  animation: marquee 7s linear infinite;
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.bleu {
  -moz-animation: marquee 7s linear infinite;
  -webkit-animation: marquee 7s linear infinite;
  animation: marquee 7s linear infinite;
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.bleudeux {
  -moz-animation: marque 7s linear infinite;
  -webkit-animation: marque 7s linear infinite;
  animation: marque 7s linear infinite;
}
@-moz-keyframes marque {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes marque {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes marque {
  0% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.carre {
  -moz-animation: marque 7s linear infinite;
  -webkit-animation: marque 7s linear infinite;
  animation: marque 7s linear infinite;
}
@-moz-keyframes marque {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes marque {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes marque {
  0% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.carre2 {
  -moz-animation: marquee 7s linear infinite;
  -webkit-animation: marquee 7s linear infinite;
  animation: marquee 7s linear infinite;
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* fin animation marquee*/

.carre {
  width: 78%;
  height: 82px;
  background-color: blue;
  display: flex;
  position: absolute;
  z-index: -2;
  top: 65px;
}

.carre2 {
  width: 78%;
  height: 85px;
  background-color: blue;
  display: flex;
  margin-left: auto;
  position: absolute;
  z-index: -2;
  top: 370px;
}

.bande {
  width: auto;
  margin-top: 120px;
  height: 82px;
  display: flex;
  position: relative;
  background-color: blue;
}

.blink {
  animation: blink 0.2s infinite;
  display: flex;
  text-align: center;
  z-index: 1;
  font-size: 200px;
  color: white;
}

.blink1 {
  animation: blink 0.2s infinite;
  display: flex;
  text-align: center;
  margin-left: 800px;
  z-index: 1;
  font-size: 200px;
  color: white;
}

@keyframes blink {
  50% {
    color: black;
  }
}

.bleu {
  font-family: "JetBrainsMono-Regular";
  color: blue;
  top: 85%;
  font-size: 90px;
  margin-top: 300px;
}

.bleudeux {
  font-family: "JetBrainsMono-Regular";
  color: blue;
  position: absolute;
  top: 268%;
  font-size: 90px;
}

.img {
  height: 1240px;
  width: 1040px;
}

.container {
  position: relative;
}

.centered {
  color: white;
  position: absolute;
  top: 25%;
  left: 150px;
  text-align: center;
  font-size: 180px;
}

.centereddeux {
  color: white;
  position: absolute;
  top: 60%;
  left: 150px;
  text-align: center;
  font-size: 180px;
}

.et {
  color: blue;
  position: absolute;
  top: 42%;
  left: 850px;
  font-size: 180px;
}

.fanzine {
  font-family: "JetBrainsMono-Regular";
  color: white;
  position: relative;
  display: flex;
  top: -90px;
  font-size: 70px;
}

.espace {
  width: auto;
  margin-top: 600px;
  display: flex;
  position: relative;
}

.articles {
  position: absolute;
  display: grid;
  grid-template-areas: "myArea myArea myArea";
  grid-gap: 230px;
  margin: 240px;
  color: white;
  font-size: 45px;
  padding: 10px;
}

.articles > div {
  padding: 20px 0;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}

.sous-articles {
  position: absolute;
  display: grid;
  grid-template-areas: "myArea myArea myArea";
  grid-gap: 116px;
  margin: 208px;
  color: white;
  padding: 10px;
}

.sous-articles > div {
  margin-top: 100px;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.img2 {
  height: 1440px;
  width: 1750px;
  margin-top: 600px;
  display: flex;
}

.footer {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style: none;
}

p span {
  position: relative;
}

.draggable {
  background-color: blue;
  cursor: move;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

@media all and (max-width: 1200px) {
  .scrambled {
    word-break: break-all;
  }
}
