body {
  background: black;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

.titre {
  text-transform: uppercase;
  font-family: "JetBrainsMono-Bold";
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
}

.abces {
  font-family: "JetBrainsMono-Bold";
  text-transform: uppercase;
  font-size: 300px;
  top: 2540px;
  margin-left: 10px;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotateZ(-180deg);
}

.vote {
  height: 1000px;
  width: auto;
  top: 120px;
  position: absolute;
  padding-bottom: 30px;
  z-index: -1;
  opacity: 0.04;
}

.sous-titre {
  text-transform: uppercase;
  font-size: 40px;
  position: relative;
  text-align: center;
  padding-top: 30px;
  font-family: "JetBrainsMono-Bold";
}

.chapeau {
  background-color: black;
  color: black;
}

.headline {
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 900px;
  margin-left: 50px;
  width: 15em;
  word-wrap: break-word;
  font-weight: bold;
}

.paragraphe1 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 50px;
}

.coupe {
  width: 27em;
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: 20px;
}

.coupe1 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: 20px;
}

.headline2 {
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 100px;
  margin-left: 500px;
  width: 20em;
  word-wrap: break-word;
  font-weight: bold;
}

.paragraphe2 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 500px;
}

.coupe2 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 500px;
  margin-top: 20px;
}

.coupe3 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 500px;
  margin-top: 20px;
}

.coupe4 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 500px;
  margin-top: 20px;
}

.coupe5 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: 20px;
}

.coupe6 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: 20px;
}
.coupe7 {
  width: 27em;
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: 20px;
}

.headline3 {
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 100px;
  margin-left: 50px;
  width: 20em;
  word-wrap: break-word;
  font-weight: bold;
}

.c {
  width: 27em;
  word-wrap: break-word;
  margin-left: 50px;
}

.accueil {
  text-transform: uppercase;
  font-family: "JetBrainsMono-Bold";
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: blue;
  color: white;
  width: 6%;
  height: 40px;
}

.boite {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1200px;
}

.cartouche {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1000px;
  margin-top: -3400px;
}

.cartouche2 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 900px;
  margin-top: -500px;
}

.cartouche3 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1500px;
  margin-top: -1400px;
}

.cartouche4 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1620px;
  margin-top: -2300px;
}

.cartouche5 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1430px;
  margin-top: -3100px;
}

.cartouche6 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 820px;
  margin-top: -3700px;
}

.cartouche7 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1220px;
  margin-top: -1200px;
}

.cartouche8 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 120px;
  margin-top: 300px;
}

.cartouche9 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 920px;
  margin-top: -2900px;
}

.cartouche10 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1280px;
  margin-top: -2450px;
}

.cartouche11 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 390px;
  margin-top: -2450px;
}

.cartouche12 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 920px;
  margin-top: -200px;
}

.cartouche13 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 220px;
  margin-top: 20px;
}

.cartouche14 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1220px;
  margin-top: 100px;
}

.cartouche15 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background-color: blue;
  width: 6%;
  height: 25px;
  margin-left: 1280px;
  margin-top: -1780px;
}
